.tr {
    text-align: center;
    align-items: center;
    padding: 0 90px;
}

.container {
    margin: 20px auto; /* Centraliza o container */
    display: flex;
    flex-direction: column; /* Alinha itens em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    width: 90%;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.row {
    height: 35px;
    text-align: center;
}