/* Estilo do contêiner principal */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
  background: url('/src/img/background-login.jpg') no-repeat center center/cover;
}

.login-container {
  display: flex;
  width: 900px; /* Aumente a largura do contêiner */
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Coluna da esquerda */
.login-left {
  flex: 1;
  background-color: #222831;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.login-left h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-left p {
  font-size: 1em;
  margin-bottom: 30px;
}

.login-left .btn {
  border: 1px solid white;
  color: white;
  border-radius: 20px;
  padding: 10px 30px;
}

/* Coluna da direita */
.login-right {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.login-right h2 {
  font-size: 2em;
  color: #222831;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  color: #222831;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.2em;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.social-icon:hover {
  background-color: #cccccc;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.input-icon {
  position: relative;
  width: 100%;
}

.input-icon .icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #ccc;
  font-size: 1.2em;
}

.input-icon input {
  width: 100%;
  padding: 15px 15px 15px 45px; /* Espaço extra para o ícone */
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  font-size: 1em;
}

.input-icon input::placeholder {
  color: #888;
}

.btn-success {
  background-color: #222831;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: #00897b;
}
