*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root{
  background-color: #FFFFFF;
  height: 100%;
}

:root {
  --blue-500: #42A5F5;
  --yellow-500: #FFCA28;
  --green-500: #155a18;
  --blue-400: #64B5F6;
  --yellow-400: #FFD54F;
  --green-400: #81C784;
  --red-500: #df1515; /* Vermelho principal */
  --red-400: #FF7B7B; /* Vermelho claro */
}





